<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
    <h2>Welcome to Denbighshire Council HR chatbot</h2>
    <button onclick="aiAgent()">Open Chatbot</button>

    <script>
    function aiAgent(){
        window.open("https://204079105d86d4a35d.gradio.live/", "_blank");
    }
    </script>
    
    <form action="/main" method="post">
        <input type = "submit" value="Main">
    </form>
    </div>
</body>




